/* Custom Styles */
ul.nav-tabs {
    width: 140px;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
}

ul.nav-tabs li {
    margin: 0;
    border-top: 1px solid #ddd;
}

ul.nav-tabs li:first-child {
    border-top: none;
}

ul.nav-tabs li a {
    margin: 0;
    padding: 8px 16px;
    border-radius: 0;
}

ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover {
    color: #fff;
    background: #0088cc;
    border: 1px solid #0088cc;
}

ul.nav-tabs li:first-child a {
    border-radius: 4px 4px 0 0;
}

ul.nav-tabs li:last-child a {
    border-radius: 0 0 4px 4px;
}

ul.nav-tabs.affix {
    top: 30px; /* Set the top position of pinned element */
}



.form-group {
    margin-bottom: 5px !important;
}

.form-control {
    width: 110px !important;
}
.list
{
  margin-bottom: 5px;
}

.examine
{
    width: 300px;
}
.photo
{
    width: 300px;
}

/*
圖片*/
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}


/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes zoom {
    from {transform: scale(0.1)}
    to {transform: scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}


/*search*/
.search-input {
    width: 550px;
    height: 38px;
    border: 2px solid #80a4c9;
    border-radius: 5px;
    margin-left: 100px;
    color: #828a96;
}

.search-input:focus {
    outline: none;
}


.search-button {
    position: relative;
    left: -70px;
    top: 10px;
}

.search-button:focus {
    outline: none;
}
